.cover__link-ticket {
    padding: 13px 20px;
    margin: 0 auto 0 auto;
    background: #0278fe;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
  }
  
  .cover__link-ticket:hover {
    background: rgba(0, 99, 210, 1);
  }