.intro__text_p-practicum {
    height: 208px;
    width: 720px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    text-align: left;
    color: #FFFFFF;
    margin: 0 412px 0 148px;
  }
  
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .intro__text_p-practicum {
      margin: 21px auto 0;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__text_p-practicum {
      width: 288px;
      height: 432px;
      font-size: 15px;
      margin: 30px auto 0;
    }
  }