.cover__background {
    /* width: 1184px;
    height: 740px;
    left: 48px;
    top: 6601px;
    background-image: url("../../images/__background.png");
    background-size: cover;
    background-repeat: no-repeat; */
}