.place__website {
    width: 456px;
    /* height: 67px; */
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 26px;
    grid-area: website;
  }
  
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .place__website {
      /* height: 67px; */
      width: 309px;
      justify-content: flex-start;
      margin-bottom: 24px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
      margin-bottom: 52px;
      width: auto;
      height: auto;
    }
  }
  